
@{
    ViewData["Title"] = "Trocas";
}

<h2>Trocas</h2>
<p>Listar trocas de funcionarios</p>
1 . Listar trocas pedidas e solicitadas. <br />
2 . Listar status das trocas <br />
3 . Solicitar novas trocas <br />
4 . Cancelar trocas

